# Node modules
node_modules/

# Playwright
playwright-report/
test-results/
blob-report/
playwright/.cache/

# Screenshots / videos / traces
test-results/
*.png
*.webm
*.zip

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build / cache
dist/
build/
coverage/
.cache/

# TypeScript
*.tsbuildinfo